<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.com.widetech.mamut.android" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.IngresoActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".view.OperationActivity"
            android:label="@string/title_activity_operation" >
        </activity>
        <activity
                android:name=".view.infoCargueActivity"
            android:label="@string/title_activity_info_cargue" >
        </activity>
        <activity
            android:name=".view.EstadoViajeActivity"
            android:label="@string/title_activity_estado_viaje" >
        </activity>
        <activity
                android:name=".view.DetencionRutaActivity"
                android:label="@string/title_activity_detencion_ruta">
        </activity>
        <activity
                android:name=".view.FinalizarViajeActivity"
                android:label="@string/title_activity_finalizar_viaje">
        </activity>
        <activity
                android:name=".view.InicioTurnoActivity"
                android:label="@string/title_activity_inicio_turno">
        </activity>
        <activity
                android:name=".view.InfoViajeVacioActivity"
                android:label="@string/title_activity_info_viaje">
        </activity>
        <activity
                android:name=".view.SolicitudTanqueoActivity"
                android:label="@string/title_activity_tanqueo">
        </activity>
        <activity
                android:name=".view.OpcionesMantenimientoActivity"
                android:label="@string/title_activity_solicitud_mantenimiento">
        </activity>
        <activity
                android:name=".view.ProjectosActivity"
                android:label="@string/title_activity_projectos">
        </activity>
        <activity
                android:name=".view.InicioViajeActivity"
                android:label="@string/title_activity_inicio_viaje">
        </activity>
        <activity
                android:name=".view.ChatActivity"
                android:label="@string/title_activity_chat">
        </activity>
        <activity
                android:name="com.co.widetech.serial_port_core.tools.SerialPortPreferences"
                android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="com.co.widetech.serial_port_core.tools.SerialPortPreferences"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name="com.co.widetech.serial_port_core.service.TransportDataService">
            <intent-filter>
                <action android:name="com.co.widetech.serial_port_core.service.TransportDataService"/>
            </intent-filter>
        </service>

        <activity
                android:name=".view.SolicitudMantenimientoActivity"
                android:label="@string/title_activity_solicitur_mantenimiento">
        </activity>

        <receiver android:name="com.co.widetech.serial_port_core.receiver.DeviceReceiverShutdown">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.DeviceReceiverPower">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.co.widetech.serial_port_core.receiver.PluginControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
